
.page{
  justify-content: center;
  align-content: center;
  align-self: center;
  font-family: "Comic Sans MS", cursive;
  color: black;

  height: 100vh;
  background-image: url("/motoBackground.jpg");
  background-size: cover;
}

.title{
  text-align: center;
  padding-top: 10px;
  display: block;
}
.loginForm {
  background-color: rgba(210, 248, 255, 0.61);
  box-shadow: 10px 10px 4px rgba(36, 46, 16, 0.69);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  align-items: center;
  align-content: center;
  margin: 0% auto;
  display: block;
  width: 40%;
  height: 40%;
  text-align: center;
}

.loginForm input {
  margin-bottom: 10px;
  border: 2px solid rgba(1, 205, 254, 0.6);
  border-radius: 12px;
  padding: 12px 16px;
}
h3{
  margin: 15px auto;
}

.loginButton{
  display: inline-block;
  padding: 12px 30px;

  border: 2px solid #01cdfe;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff71ce, #01cdfe);
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive;

  text-decoration: none;
  cursor: pointer;
  box-shadow:
    0 0 10px #ff71ce,
    0 0 20px #01cdfe;

  transition: all 0.3s ease;
}

.loginButton:hover{
  background-color: #01cdfe;
  color: white;
  box-shadow:
    0 0 20px #ff71ce,
    0 0 40px #01cdfe,
    0 0 60px #05ffa1;

  filter: brightness(1.2);
}


.registerButton {

  padding: 10px;
  border: 2px solid #01cdfe;
  border-radius: 12px;
  background: linear-gradient(135deg, #71ffb3, #bffe01);
  font-weight: bold;
  color: black;
  box-shadow: 10px 10px 4px rgba(36, 46, 16, 0.69);
  align-items: center;
  align-content: center;

}
.registerButton:hover{
  background: linear-gradient(135deg, #268c70, #125e26);
  color: white;
  box-shadow:
    0 0 20px #84ff71,
    0 0 40px #01cdfe,
    0 0 60px #2b7c5f;

  filter: brightness(1.2);
}

