<div class="page">

<div class="loginForm">
  <h1 class="title">My Virtual Garage</h1>

  <h2>Login</h2>

  <input
    type="text"
    name="username"
    [(ngModel)]="username"
    placeholder="Username"
  />
<br>
  <input
    type="password"
    name="password"
    [(ngModel)]="password"
    placeholder="Password"

  />
<br>
  <button class="loginButton" (click)="login()">
    Login
  </button>
  <br>
  <h3>Don't have an account?</h3>
  <a class="registerButton" routerLink="/register">Create One</a>
</div>
</div>
