<div class="page">
<div class="about-container">

  <h1 class="title">All About Motorcycles </h1>

  <h2 class="sub-title">Helpful Links</h2>
  <div class="nav-links">
    <a href="https://www.partzilla.com/lp/sport-bike-parts" >Parzilla - Order OEM parts </a>

  </div>

  <div class="grid">


      <div class="card">
        <h3>Yamaha Diagrams</h3>
      </div>

    <div class="card">
      <h3>Honda Diagrams</h3>
      <a href=""></a>
    </div>

    <div class="card">
      <h3>Suzuki Diagrams</h3>
    </div>

    <div class="card">
      <h3>Kawasaki Diagrams</h3>
    </div>


  </div>


</div>
</div>
