.page{

  align-self: center;
  font-family: "Comic Sans MS", cursive;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background: linear-gradient(135deg, #1a0033, #330066, #ff00cc);


}
.about-container{
  text-align: center;
  padding: 40px;


}
.title{
  text-align: center;
  font-size: 70px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 15px #00ffff,
    0 0 30px #ff00ff;
  animation: float 4s ease-in-out infinite;
}

.sub-title{
  text-align: left;
  opacity: 0.8;
  margin-bottom: 30px;
}
.nav-links{
  text-align: left;
  margin: 20px 0 40px;

}
.nav-links a {
  color: #00ffff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
}

