
<div class="page">
  <h1 class="title">Resources </h1>

  <div class="about-container">


  <div class="right">

  <div class="nav-links">
  <h2 class="sub-title">Helpful Links</h2>
    <ul>
      <li> <a href="https://www.partzilla.com/lp/sport-bike-parts" >Parzilla - Order OEM parts </a> </li>
      <li> <a href="https://www.cyclegear.com/motorcycle-engine-oil">Oil</a> </li>
      <li>   <a href="https://monsterfairings.com/">Aftermarket Fairings</a></li>
      <li> <a href="https://www.cyclegear.com/motorcycle-chain-cleaner">Chain Maintenance Supplies</a></li>
      <li> <a href="https://www.revzilla.com/best-motorcycle-tires">Tires</a></li>

    </ul>
  </div>
    <div class="photos">
      <img  src="565686416_793367290131039_1293514852593916221_n.jpg">
      <img  src="shadow.gif">
      <img src="clutch.jpg">
      <img src="tire.jpg">
    </div>

  </div>

  <div  class="left">

  <div class="grid">


      <div class="card">
        <img src="yamaha-png-logo-0.png">
        <div class="card-content">
        <h3>Yamaha</h3>
          <a href="https://www.motorcyclemanuals.info/motocycles-atvs/yamaha/">Service Manuals</a>
          <a href="https://www.revzilla.com/oem-yamaha-motorcycle-parts">Parts</a>
      </div>
      </div>

    <div class="card">
      <img src = "honda-motorcycle-and-scooter-india-wing-13.png">
      <div class="card-content">
      <h3>Honda</h3>
        <a href="https://www.motorcyclemanuals.info/motocycles-atvs/honda/">Service Manuals</a>
      <a href="https://www.revzilla.com/oem-honda-motorcycle-parts">Parts</a>

      </div>
    </div>

    <div class="card">
      <img src="Suzuki-Logo-PNG-Image.png">
      <div class="card-content">
      <h3>Suzuki</h3>
      <a href="https://www.motorcyclemanuals.info/motocycles-atvs/suzuki/">Service Manuals</a>
      <a href="https://www.revzilla.com/oem-suzuki-motorcycle-parts">Parts</a>
    </div>
  </div>

    <div class="card">
      <img src="kawasaki-fox-racing-logo-vector-6.png">
      <div class="card-content">
      <h3>Kawasaki</h3>
        <a href="https://www.motorcyclemanuals.info/motocycles-atvs/kawasaki/">Service Manuals</a>
        <a href="https://www.revzilla.com/oem-kawasaki-motorcycle-parts">Parts</a>
    </div>
  </div>

  </div>

  </div>
</div>

</div>
