<div class="page">
  <div class="registerForm">
    <h1 class="title">My Virtual Garage</h1>

  <h2 >Register</h2>

  <input
    type="text"
    name="username"
    [(ngModel)]="user.username"
    placeholder="Username"
  />

  <input
    type="text"
    name="email"
    [(ngModel)]="user.email"
    placeholder="Email"
  />
<br>
  <input
    type="text"
    name="password"
    [(ngModel)]="user.password"
    placeholder="Password"
  />

  <button (click)="register()">
    Create Account
  </button>

    <h3>Already have an account?</h3>
    <br>
    <a class="loginButton" routerLink="/login">Log In</a>
</div>

</div>
