

.bikeGrid{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.bikeCard{
  border:2px solid darkslategray;
  border-radius:10px;
  padding:5px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  background:whitesmoke;
}
