

<div class="page" >

<div class="AddBikeForm">
  <h1 class="title" >My Virtual Garage</h1>

  <h2>Add a Motorcycle</h2>


  <input placeholder="Brand" [(ngModel)]="motorcycle.brand" />
  <input placeholder="Model" [(ngModel)]="motorcycle.model" />
  <input type="number" placeholder="Year" [(ngModel)]="motorcycle.year" />

  <button class="addButton" (click)="addMotorcycle()">Add</button>

</div>

<div class="background">
<div class="bikeGrid">
<div class="bikeCard" *ngFor="let bike of motorcycles">
  <h3>{{bike.brand}}
      {{bike.model}}</h3>
  <h4>{{bike.year}}</h4>
  <button class="button" [routerLink]="['/edit', bike.moto_id]">Edit</button>
  <button class="button"  (click)="deleteMotorcycle(bike.moto_id)">Delete</button>
</div>
</div>




</div>
</div>
