body{
  margin: 0px;
  padding: 0px;
}
.page{

  align-self: center;
  font-family: "Comic Sans MS", cursive;
  color: black;

  height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
}

.title{
  text-decoration: underline;
}

.bikeGrid{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));

  gap: 20px;
  place-items: center;
}

.bikeCard{
  margin-top: 20px;
  border:2px solid darkslategray;
  border-radius:10px;
  padding:5px;
  background:whitesmoke;
  box-shadow: 10px 10px 4px rgba(36, 46, 16, 0.69);

}

.AddBikeForm{
  background: rgba(143, 188, 143, 0.76);
  border:2px solid black;
  box-shadow: 10px 10px 4px rgba(36, 46, 16, 0.69);
  padding:5px;
  align-content: center;
  margin:5px;

  text-align:center;


}
.AddBikeForm h2{
  text-align:center;
}
.AddBikeForm input{
  border:2px solid darkslategray;
  border-radius:10px;
  padding:10px;
  box-shadow: 0 10px 208px 0 rgba(0,0,0,0), 0 20px 40px 0 rgba(0,0,0,0.2);
  background:whitesmoke;
  margin:5px;
}

.addButton{
  border:2px solid darkslategray;
  border-radius:10px;
  padding:10px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  background:whitesmoke;
  margin:5px;

}
